/* *{
 border: black 2px solid;
} */

body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#info, #SellerBalance, #BuyerBalance {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}



/* star */
.grade span {
    margin-left: 15px;
    line-height: 30px;
}
.star {
    width: 100%;
    height: 45%;
}
ul {
    width: 50%;
    height: 70%;
    padding: 0;
    margin: 0 25%;
}
ul li {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("img/0.png") no-repeat;
}
ul li a {
    height: 20px;
    width: 10px;
    display: inline-block;
    float: left;
}
.sure {
    width: 100%;
    height: 30%;
}
.sure button {
    margin-right: 10px;
    float: right;
}

